---
import Layout from "../../layouts/layout.astro";
import Container from "../../components/container.astro"

import {getConfDetail} from "../../components/conference/groupedSessions.astro"
export const prerender = false;
const { speakerid } = Astro.params;
const { url } = Astro.request
const apiUrl = new URL(url);

const theConfDetails = await getConfDetail(apiUrl.searchParams.get("apiUrl"));
---
{theConfDetails[0].sessions.filter((session) => session.speakerObject[0].id === speakerid).map((session) => (
<Layout title={session.title} description={session.description}>
    <div>
        <div class=" mt-20 sm:px-6 lg:px-20">
            <ul role="list" class="divide-y divide-gray-200">  
                    
                    <div class=" p-4">
                        
                        <img src={session.speakerObject[0].profilePicture} alt="" width={400} class="lg:w-1/6 sm:w-1/2 h-auto"/>
                        <div class="min-w-0 my-10 flex-1">
                            <span class="absolute inset-0" aria-hidden="true" />
                            <p class="truncate text-xl font-medium text-gray-900">{session.speakerObject[0]?.fullName}</p>
                            <p class="truncate text-md text-gray-500">{session.speakerObject[0].tagLine}</p>
                            <p class="text-sm text-gray-600 mt-5">{session.speakerObject[0].bio}</p>
                        </div>  
                </div>
            </ul>
        </div>
    </div>
</Layout>
))}