---
const { data, apiUrl, city } = Astro.props;
const sessionDetails = data[0].rooms[0].sessions

const cityWithExtraRooms = ["Sydney", "Melbourne"];
if (cityWithExtraRooms.includes(city)){
  const room2Details = data[0].rooms[1].sessions
  const room3Details = data[0].rooms[2].sessions

  var room2 = [
  {
        day:"Mid Morning", 
        events: [
          { 
            id: room2Details[1].id, 
            name: room2Details[1].title, 
            href: `/session/${room2Details[1].id}?apiUrl=${apiUrl}`, 
            time: "11:10 AM", 
            details: room2Details[1].description,
            member: room2Details[1].speakers[0].name
          },
          { 
            id: room2Details[2].id, 
            name: room2Details[2].title, 
            href: `/session/${room2Details[2].id}?apiUrl=${apiUrl}`, 
            time: "11:40 AM", 
            details: room2Details[2].description,
            member: room2Details[2].speakers[0].name
          },
          { 
            id: 3, 
            name: "Lunch", 
            href:"#link", 
            time: "12:40 PM", 
            details: "Relax and network with your fellow peers",
            member: "Everyone"
          },
        ]
      },
      {
        day:"Mid Afternoon", 
        events: [
          { 
            id: room2Details[3].id, 
            name: room2Details[3].title, 
            href: `/session/${room2Details[3].id}?apiUrl=${apiUrl}`, 
            time: "12:10 PM", 
            details: room2Details[3].description,
            member: room2Details[3].speakers[0].name
          },
          { 
            id: room2Details[4].id, 
            name: room2Details[4].title, 
            href: `/session/${room2Details[4].id}?apiUrl=${apiUrl}`, 
            time: "13:40 PM", 
            details: room2Details[4].description,
            member: room2Details[4].speakers[0].name
          },
          { 
            id: room2Details[5].id, 
            name: room2Details[5].title, 
            href: `/session/${room2Details[5].id}?apiUrl=${apiUrl}`, 
            time: "14:10 PM", 
            details: room2Details[5].description,
            member: room2Details[5].speakers[0].name
          },
          { 
            id: 3, 
            name: "Afternoon Tea", 
            href:"#link", 
            time: "15:10 PM", 
            details: "Enjoy some delicious refreshments to keep you going into the afternoon.",
            member: "Everyone"
          },
        ]
      }
  ]

  var room3 = [
  {
        day:"Mid Morning", 
        events: [
          { 
            id: room3Details[1].id, 
            name: room3Details[1].title, 
            href: `/session/${room3Details[1].id}?apiUrl=${apiUrl}`, 
            time: "11:10 AM", 
            details: room3Details[1].description,
            member: room3Details[1].speakers[0].name
          },
          { 
            id: room3Details[2].id, 
            name: room3Details[2].title, 
            href: `/session/${room3Details[2].id}?apiUrl=${apiUrl}`, 
            time: "11:40 AM", 
            details: room3Details[2].description,
            member: room3Details[2].speakers[0].name
          },
          { 
            id: 3, 
            name: "Lunch", 
            href:"#link", 
            time: "12:40 PM", 
            details: "Relax and network with your fellow peers",
            member: "Everyone"
          },
        ]
      },
      {
        day:"Mid Afternoon", 
        events: [
          { 
            id: room3Details[3].id, 
            name: room3Details[3].title, 
            href: `/session/${room3Details[3].id}?apiUrl=${apiUrl}`, 
            time: "12:10 PM", 
            details: room3Details[3].description,
            member: room3Details[3].speakers[0].name
          },
          { 
            id: room3Details[4].id, 
            name: room3Details[4].title, 
            href: `/session/${room3Details[4].id}?apiUrl=${apiUrl}`, 
            time: "13:40 PM", 
            details: room3Details[4].description,
            member: room3Details[4].speakers[0].name
          },
          { 
            id: room3Details[5].id, 
            name: room3Details[5].title, 
            href: `/session/${room3Details[5].id}?apiUrl=${apiUrl}`, 
            time: "14:10 PM", 
            details: room3Details[5].description,
            member: room3Details[5].speakers[0].name
          },
          { 
            id: 3, 
            name: "Afternoon Tea", 
            href:"#link", 
            time: "15:10 PM", 
            details: "Enjoy some delicious refreshments to keep you going into the afternoon.",
            member: "Everyone"
          },
        ]
      }
  ]
} else {
  room2 = [];
  room3 = [];
}

const schedule = [
    {
      day:"Morning", 
      events: [
        { 
          id: 1, 
          name: "Registration", 
          href:"#link", 
          time: "08:00 AM", 
          details: "Please collect your lanyards from the front counter.",
          member: "Everyone"
        },
        { 
          id: 2, 
          name: "Introduction", 
          href:"#link", 
          time: "09:00 AM", 
          details: "Lars Klint will welcome us to the conference.",
          member: "Lars Klint"
        },
        { 
          id: sessionDetails[0].id, 
          name: sessionDetails[0].title, 
          href: `/session/${sessionDetails[0].id}?apiUrl=${apiUrl}`, 
          time: "09:10 AM", 
          details: sessionDetails[0].description,
          member: sessionDetails[0].speakers[0].name
        },
        { 
          id: sessionDetails[1].id, 
          name: sessionDetails[1].title, 
          href: `/session/${sessionDetails[1].id}?apiUrl=${apiUrl}`, 
          time: "09:50 AM", 
          details: sessionDetails[1].description,
          member: sessionDetails[1].speakers[0].name
        },
        { 
          id: 3, 
          name: "Morning Tea", 
          href:"#link", 
          time: "10:30 AM", 
          details: "Enjoy some delicious refreshments to keep you going towards lunch.",
          member: "Everyone"
        },
      ]
    },
    {
      day:"Mid Morning", 
      events: [
        { 
          id: sessionDetails[2].id, 
          name: sessionDetails[2].title, 
          href: `/session/${sessionDetails[2].id}?apiUrl=${apiUrl}`, 
          time: "11:10 AM", 
          details: sessionDetails[2].description,
          member: sessionDetails[2].speakers[0].name
        },
        { 
          id: sessionDetails[3].id, 
          name: sessionDetails[3].title, 
          href: `/session/${sessionDetails[3].id}?apiUrl=${apiUrl}`, 
          time: "11:40 AM", 
          details: sessionDetails[3].description,
          member: sessionDetails[3].speakers[0].name
        },
        { 
          id: sessionDetails[4].id, 
          name: sessionDetails[4].title, 
          href: `/session/${sessionDetails[4].id}?apiUrl=${apiUrl}`, 
          time: "12:10 PM", 
          details: sessionDetails[4].description,
          member: sessionDetails[4].speakers[0].name
        },
        { 
          id: 3, 
          name: "Lunch", 
          href:"#link", 
          time: "12:40 PM", 
          details: "Relax and network with your fellow peers",
          member: "Everyone"
        },
      ]
    },
    {
      day:"Mid Afternoon", 
      events: [
        { 
          id: sessionDetails[5].id, 
          name: sessionDetails[5].title, 
          href: `/session/${sessionDetails[5].id}?apiUrl=${apiUrl}`, 
          time: "1:40 PM", 
          details: sessionDetails[5].description,
          member: sessionDetails[5].speakers[0].name
        },
        { 
          id: sessionDetails[6].id, 
          name: sessionDetails[6].title, 
          href: `/session/${sessionDetails[6].id}?apiUrl=${apiUrl}`, 
          time: "2:10 PM", 
          details: sessionDetails[6].description,
          member: sessionDetails[6].speakers[0].name
        },
        { 
          id: sessionDetails[7].id, 
          name: sessionDetails[7].title, 
          href: `/session/${sessionDetails[7].id}?apiUrl=${apiUrl}`, 
          time: "2:40 PM", 
          details: sessionDetails[7].description,
          member: sessionDetails[7].speakers[0].name
        },
        { 
          id: 3, 
          name: "Afternoon Tea", 
          href:"#link", 
          time: "3:10 PM", 
          details: "Enjoy some delicious refreshments to keep you going into the afternoon.",
          member: "Everyone"
        },
      ]
    },
    {
      day:"Late Afternoon", 
      events: [
        { 
          id: sessionDetails[8].id, 
          name: sessionDetails[8].title, 
          href: `/session/${sessionDetails[8].id}?apiUrl=${apiUrl}`, 
          time: "3:50 PM", 
          details: sessionDetails[8].description,
          member: sessionDetails[8].speakers[0].name
        },
        { 
          id: sessionDetails[9].id, 
          name: sessionDetails[9].title, 
          href: `/session/${sessionDetails[9].id}?apiUrl=${apiUrl}`, 
          time: "4:30 PM", 
          details: sessionDetails[9].description,
          member: sessionDetails[9].speakers[0].name
        },
        { 
          id: sessionDetails[10].id, 
          name: sessionDetails[10].title, 
          href: `/session/${sessionDetails[10].id}?apiUrl=${apiUrl}`, 
          time: "5:00 PM", 
          details: sessionDetails[10].description,
          member: sessionDetails[10].speakers[0].name
        },
        { 
          id: 3, 
          name: "Closing Remarks", 
          href:"#link", 
          time: "5:30 PM", 
          details: "Lars Klint will close out the conference.",
          member: "Everyone"
        },
        { 
          id: 3, 
          name: "After Party", 
          href:"#link", 
          time: "5:40 PM", 
          details: "Join us for some late refreshments and further networking to close out the conference.",
          member: "Everyone"
        },
      ]
    },
  ]


---
<div class="mx-auto py-8 w-full max-w-7xl bg-white">
    <div class="mx-auto max-w-4xl">

    {/* :TITLE CONTAINER */}
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="mt-3 text-2xl sm:text-4xl font-extrabold tracking-wide mb-10">
        <span class="text-gray-700">Event </span>
        <span class="text-yellow-500">Schedule</span>
      </h2>
      <p class="text-gray-500 font-bold uppercase tracking-widest text-1xl sm:text-3xl">Main track</p>
    </div>


  
  </div>
    <div class="mt-5 sm:mt-10 flex flex-col">
        {schedule.map(day => (
        <div key={day.day} >
            {/* ::Day */}
            <span class="flex items-center py-3 px-5 bg-gray-800 text-gray-50">

            <h3 class="text-sm font-semibold uppercase tracking-wide">{day.day}</h3>
            </span>
            {/* ::Events */}
            <ul class="py-1 flex flex-col">
            {day.events.map(event => (
                <li key={event.id} class="group py-3 px-2 sm:px-5 flex items-center">
                  <a href={event.href}>
                    {/* :::time container */}
                    <div class="flex-shrink-0 mr-5 sm:mr-20 px-2 flex flex-col bg-yellow-50">
                    <span class="text-sm sm:text-base text-yellow-500 font-bold">{event.time} - {event.member}</span>
                    </div>
                    {/* :::details container */}
                    <div class="col-span-7 sm:col-span-6 px-3">
                    <p class="text-base text-gray-700 font-bold uppercase">{event.name}</p>
                    <p class="mt-2 text-xs sm:text-sm text-gray-500">{event.details}</p>
                    </div>
                  </a>
                </li>
            ))
            }
            </ul>
        </div>
        ))
        }
    </div>

     {room2.length > 0 ? (<div class="mx-auto max-w-2xl text-center">
     <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
      <p class="text-gray-500 font-bold uppercase tracking-widest text-1xl sm:text-3xl">ML Track</p>
      </div>) : 
      <Fragment></Fragment>
     }
     

    <div class="mt-5 sm:mt-10 flex flex-col">
      {room2.map(day => (
      <div key={day.day} >
          {/* ::Day */}
          <span class="flex items-center py-3 px-5 bg-gray-800 text-gray-50">

          <h3 class="text-sm font-semibold uppercase tracking-wide">{day.day}</h3>
          </span>
          {/* ::Events */}
          <ul class="py-1 flex flex-col">
          {day.events.map(event => (
              <li key={event.id} class="group py-3 px-2 sm:px-5 flex items-center">
                <a href={event.href}>
                  {/* :::time container */}
                  <div class="flex-shrink-0 mr-5 sm:mr-20 px-2 flex flex-col bg-yellow-50">
                  <span class="text-sm sm:text-base text-yellow-500 font-bold">{event.time} - {event.member}</span>
                  </div>
                  {/* :::details container */}
                  <div class="col-span-7 sm:col-span-6 px-3">
                  <p class="text-base text-gray-700 font-bold uppercase">{event.name}</p>
                  <p class="mt-2 text-xs sm:text-sm text-gray-500">{event.details}</p>
                  </div>
                </a>
              </li>
          ))
          }
          </ul>
      </div>
      ))
      }
  </div>

  {room2.length > 0 ? (<div class="mx-auto max-w-2xl text-center">
  <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
    <p class="text-gray-500 font-bold uppercase tracking-widest text-1xl sm:text-3xl">DE Track</p>
    </div>) : 
    <Fragment></Fragment>
   }
  <div class="mt-5 sm:mt-10 flex flex-col">
    {room3.map(day => (
    <div key={day.day} >
        {/* ::Day */}
        <span class="flex items-center py-3 px-5 bg-gray-800 text-gray-50">

        <h3 class="text-sm font-semibold uppercase tracking-wide">{day.day}</h3>
        </span>
        {/* ::Events */}
        <ul class="py-1 flex flex-col">
        {day.events.map(event => (
            <li key={event.id} class="group py-3 px-2 sm:px-5 flex items-center">
              <a href={event.href}>
                {/* :::time container */}
                <div class="flex-shrink-0 mr-5 sm:mr-20 px-2 flex flex-col bg-yellow-50">
                <span class="text-sm sm:text-base text-yellow-500 font-bold">{event.time} - {event.member}</span>
                </div>
                {/* :::details container */}
                <div class="col-span-7 sm:col-span-6 px-3">
                <p class="text-base text-gray-700 font-bold uppercase">{event.name}</p>
                <p class="mt-2 text-xs sm:text-sm text-gray-500">{event.details}</p>
                </div>
              </a>
            </li>
        ))
        }
        </ul>
    </div>
    ))
    }
</div>
    </div>      
</div>