---
import { Image } from '@astrojs/image/components';
import {getConfDetail} from './groupedSessions.astro'
export interface Props {
	apiUrl: string;
}


const { apiUrl} = Astro.props;
const theConfDetails = await getConfDetail(apiUrl);

  
---
<div class="mt-20 sm:px-6 lg:px-20">
    <div class="text-3xl font-semibold tracking-tight sm:text-5xl font-openSans text-black my-20">Schedule</div>
    <ul role="list" class="divide-y divide-gray-200">
        {theConfDetails[0].sessions.map((session) => (  
            
            <li
            key={session.id}
            class="relative bg-white py-5 px-4 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 hover:bg-gray-50"
            >
            
            <div class="flex justify-between space-x-3">
                <Image src={session.speakerObject[0].profilePicture} alt="" width={100} aspectRatio={3/3} class="w-20 flex"/>
                <div class="min-w-0 flex-1">
                <a href={`/sessions/${session.id}`} class="block focus:outline-none">
                    <span class="absolute inset-0" aria-hidden="true" />
                    <p class="truncate text-xl font-medium text-gray-900">{session.title}</p>
                    
                    <p class="truncate text-md text-gray-500">{session.speakerObject[0]?.fullName}</p>
                </a>
                </div>
            </div>
            <div class="mt-1">
                <p class="text-sm text-gray-600 line-clamp-3">{session.description}</p>
            </div>
            </li>
        ))}
    </ul>
</div>