---
export interface Props {
	title: string;
	description: string;
}
import { SEO } from "astro-seo";

const { title, description } = Astro.props;
import Nav from '../components/nav/nav.astro';
import Footer from '../components/footer/index.astro';




---

<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- <SEO
      title={title}
      description={description}
      
          
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          
        ],
      }}
    /> -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Event",
        "name": "DataEngBytes 2023",
        
        "location": [
          {
            "@type": "Place",
            "name": "Sydney",
            "startDate": "2023-08-25T09:00:00+00:00",
            "endDate": "2023-08-25T05:30:00+00:00",
            "address": {
              "@type": "PostalAddress",
              "location": "Hilton Sydney",
              "streetAddress": "488 George St",
              "addressLocality": "Sydney",
              "addressState": "NSW",
              "postalCode": "2000",
              "addressCountry": "Australia"
            }
          },
          {
            "@type": "Place",
            "name": "Melbourne",
            "startDate": "2023-08-31T09:00:00+00:00",
            "endDate": "2023-08-31T05:30:00+00:00",
            "address": {
              "@type": "PostalAddress",
              "location": "The Edge, Federation Square",
              "streetAddress": "Swanston St &, Flinders St",
              "addressLocality": "Melbourne",
              "addressState": "VIC",
              "postalCode": "3000",
              "addressCountry": "Australia"
            }
          },
          {
            "@type": "Place",
            "name": "Perth",
            "startDate": "2023-08-22T09:00:00+00:00",
            "endDate": "2023-08-22T05:30:00+00:00",
            "address": {
              "@type": "PostalAddress",
              "location": "The Ritz-Carlton",
              "streetAddress": "1 Barrack St",
              "addressLocality": "Perth",
              "addressState": "WA",
              "postalCode": "6000",
              "addressCountry": "Australia"
            }
          },
          {
            "@type": "Place",
            "name": "Brisbane",
            "startDate": "2023-08-29T09:00:00+00:00",
            "endDate": "2023-08-29T05:30:00+00:00",
            "address": {
              "@type": "PostalAddress",
              "location": "Brisbane Convention & Exhibition Centre",
              "streetAddress": "Glenelg St",
              "addressLocality": "South Brisbane",
              "addressState": "QLD",
              "postalCode": "4101",
              "addressCountry": "Australia"
            }
          }
        ]
      }
    </script>

    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: `title`,
          type: "website",
          image: "/logos/dataEngLogo.png",
        }
      }}
      twitter={{
        creator: "Peter Hanssens"
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          
          { name: "twitter:title", content: "Welcome to DataEngBytes" },
          { name: "twitter:description", content: "A collection of resources for data engineers." },
        ],
      }}
    />
		<link rel="sitemap" href="/sitemap-index.xml">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.ico" /> -->
		<meta name="generator" content={Astro.generator} />
		
		
	</head>
	<nav>
		<Nav />
	</nav>
	<body >
		<main class="mx-auto max-w-7xl px-10 sm:px-6 lg:px-16">
			
		  </main>
		<slot />
	</body>
	<Footer />
</html>
