---
export interface Props {
	title: string;
	description: string;
}
import { SEO } from "astro-seo";

const { title, description } = Astro.props;
import Nav from '../components/nav/nav.astro';
import Footer from '../components/footer/index.astro';




---

<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- <SEO
      title={title}
      description={description}
      
          
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          
        ],
      }}
    /> -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "EventSeries",
      "name": "DataEngBytes 2023",
      "image": "https://dataengconf.com.au/video-screen.jpg",
      "description": "DataEngBytes 2023 is a data engineering conference in Australia",
      "startDate": "2023-08-22T09:00:00+08:00",
      "endDate": "2023-08-31T17:30:00+10:00",
      "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
      "eventStatus": "https://schema.org/EventScheduled",
      "organizer": {
        "@type": "Organization",
        "name": "DataEngBytes",
        "url": "https://dataengconf.com.au/"
      },
      "subEvent": [
        {
          "@type": "Event",
          "name": "DataEngBytes Perth 2023",
          "startDate": "2023-08-22T09:00:00+08:00",
          "endDate": "2023-08-22T17:30:00+08:00",
          "image": "https://dataengconf.com.au/perth.webp",
          "description": "DataEngBytes 2023 is a data engineering conference in Australia",
          "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
          "eventStatus": "https://schema.org/EventScheduled",
          "location": {
            "@type": "Place",
            "name": "The Ritz-Carlton, Perth",
            "address": {
              "@type": "PostalAddress",
              "streetAddress": "1 Barrack St",
              "addressLocality": "Perth",
              "addressRegion": "WA",
              "postalCode": "6000",
              "addressCountry": "Australia"
            }
          }
        },
        {
          "@type": "Event",
          "name": "DataEngBytes Sydney 2023",
          "startDate": "2023-08-25T09:00:00+10:00",
          "endDate": "2023-08-25T17:30:00+10:00",
          "image": "https://dataengconf.com.au/sydney.webp",
          "description": "DataEngBytes 2023 is a data engineering conference in Australia",
          "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
          "eventStatus": "https://schema.org/EventScheduled",
          "location": {
            "@type": "Place",
            "name": "Hilton, Sydney",
            "address": {
              "@type": "PostalAddress",
              "streetAddress": "488 George St",
              "addressLocality": "Sydney",
              "addressRegion": "NSW",
              "postalCode": "2000",
              "addressCountry": "Australia"
            }
          }
        },
        {
          "@type": "Event",
          "name": "DataEngBytes Brisbane 2023",
          "startDate": "2023-08-29T09:00:00+10:00",
          "endDate": "2023-08-29T17:30:00+10:00",
          "image": "https://dataengconf.com.au/brisbane.webp",
          "description": "DataEngBytes 2023 is a data engineering conference in Australia",
          "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
          "eventStatus": "https://schema.org/EventScheduled",
          "location": {
            "@type": "Place",
            "name": "Brisbane Convention & Exhibition Centre",
            "address": {
              "@type": "PostalAddress",
              "streetAddress": "Glenelg St",
              "addressLocality": "Brisbane",
              "addressRegion": "QLD",
              "postalCode": "4101",
              "addressCountry": "Australia"
            }
          }
        },
        {
          "@type": "Event",
          "name": "DataEngBytes Melbourne 2023",
          "startDate": "2023-08-31T09:00:00+10:00",
          "endDate": "2023-08-31T17:30:00+10:00",
          "image": "https://dataengconf.com.au/melbourne.webp",
          "description": "DataEngBytes 2023 is a data engineering conference in Australia",
          "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
          "eventStatus": "https://schema.org/EventScheduled",
          "location": {
            "@type": "Place",
            "name": "The Edge, Federation Square",
            "address": {
              "@type": "PostalAddress",
              "streetAddress": "Swanston St &, Flinders St",
              "addressLocality": "Melbourne",
              "addressRegion": "VIC",
              "postalCode": "3000",
              "addressCountry": "Australia"
            }
          }
        }
      ]
    }

    
    </script>

    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: `title`,
          type: "website",
          image: "/logos/dataEngLogo.png",
        }
      }}
      twitter={{
        creator: "Peter Hanssens"
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          
          { name: "twitter:title", content: "Welcome to DataEngBytes" },
          { name: "twitter:description", content: "A collection of resources for data engineers." },
        ],
      }}
    />
		<link rel="sitemap" href="/sitemap-index.xml">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		
		
	</head>
	<nav>
		<Nav />
	</nav>
	<body >
		<main class="mx-auto max-w-7xl px-10 sm:px-6 lg:px-16">
			
		  </main>
		<slot />
	</body>
	<Footer />
</html>
